<template>
  <!-- Start "Home Page" -->
  <div class="home">
    <!-- Start "Container Home Page" -->
    <b-container class="vh-100">
      <!-- Start "Title & Subtitle" -->
      <b-row class="text-center">
        <b-col>
          <div class="group-title-page">
            <div class="title">
              <h1 class="h1">DEMYQEWIKI.GG</h1>
            </div>
            <div class="subtitle">
              <p class="fs-4 fst-italic">
                Sniping <strong>{{ summonerSubTitle }}</strong> has never been
                so easy
              </p>
            </div>
          </div>
        </b-col>
      </b-row>
      <!-- End "Title & Subtitle" -->

      <!-- Start "Search Summoner Bar" -->
      <b-row class="d-flex justify-content-center">
        <b-col xl="10" lg="10" md="10" sm="12" cols="12">
          <div class="group-search-bar">
            <div class="search-bar">
              <div class="mb-3">
                <b-input
                  v-model="inputSummonerName"
                  type="text"
                  placeholder="Enter a EUW summoner..."
                ></b-input>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row class="d-flex justify-content-center">
        <b-col xl="10" lg="10" md="10" sm="12" cols="12">
          <div class="group-search-bar">
            <div class="d-grid gap-2 button-search">
              <b-button
                variant="secondary"
                @click="searchSummoner(inputSummonerName)"
                >Snipe</b-button
              >
            </div>
          </div>
        </b-col>
      </b-row>
      <!-- End "Search Summoner Bar" -->
    </b-container>
    <!-- End "Container Home Page" -->
  </div>
  <!-- End "Home Page" -->
</template>

<script>
export default {
  name: 'HomePage',
  data() {
    return {
      summonerSubTitle: '',
      inputSummonerName: '',
      listSummonersName: [
        'Demyqewiki2',
        'PeeIsInBalls',
        'Mathiii',
        'Sn0W3838',
        'clifligo',
      ],
    }
  },
  created() {
    this.summonerSubTitle = this.generateRandomSummonerName()
  },
  mounted() {},
  methods: {
    generateRandomSummonerName() {
      const index = Math.floor(Math.random() * this.listSummonersName.length)
      return this.listSummonersName[index]
    },
    async searchSummoner(pSummonerName) {
      const loadingToast = this.$toast.show('Searching summoner...')
      try {
        await this.$axios.$get('/summoner/' + pSummonerName, {
          timeout: 5000,
        })
        loadingToast.goAway(0)
        await this.$router.push({
          path: '/profile',
          query: {
            summoner: this.inputSummonerName
          }
        })
      } catch (error) {
        loadingToast.goAway(0)
        this.$toast.error("Can't find summoner").goAway(2000)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.group-suggest-profiles {
  a {
    text-decoration: none;
    color: black;
  }
}
</style>
